body{
     background:url("/08-HTML/homework/img/piura-peru.jpg")

}
.flex-contaier
{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    padding: 20px;
    flex-wrap: row wrap;
    margin: auto;
  
}
.divClass{

    margin: 5px;
    border: 1px solid rgb(19, 23, 5);
    background-color: rgba(53, 48, 188, 0.416);
    font-family:'Courier New', Courier, monospace;
    font-weight: bold;
    
    line-height: 50px;
    text-align: center;

}
h1,h2,h3,h4
{
    text-align: center;
    color: darkorange;
}
img
{
    height: 400px;
}
#thirdDiv
{
    margin: 0px auto;
    background: rgba(240, 255, 196, 0.193);
    height: 900px; 
    width:  680px;
    padding: 50px;
    border: 2px solid black;
}
#spanId
{
    margin: 50px;
    font-size: 18px;
}